.LowForm
{
    background-color: aliceblue;
    width: 50%;
    float: right;
    margin-right: 15px;
    margin-top: -15px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 30px;
    
}


.UpForm {
    margin: 2%;
    background-color: rgb(242, 247, 244);
    width: 96%;
    height: 96%;
    float: right;
    border-width: 2px;
    border-color: black;
    border-radius: 30px;
    border-style: solid;
    text-align: center;
    padding: 35px;
}

input
{
    border: none;
    border-bottom: 1px solid rgb(12, 1, 1);
}