.Yhteys {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

.divv {
    margin-inline: auto;

}

h6 {
    text-align: center;
}

.LabelP {
    margin-left: 7px;
    margin-bottom: -1px;
    font-size: small;
    text-align: left;
}

.UpForm {
    padding-top: 2%;
    width: 780px;
    height: auto;
    padding-bottom: 2%;
    background-color: #dddddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2%;
}

.test1 {
    background-color: #dddddd00;
}


.inputNamePhone {
    border: none;
    height: 35px;
    margin-right: 10px;
    width: 370px;


}

.texArea{
    width: 760px;
    border: none;
    height: 80px;
    padding-left: 10px;
    margin-inline: 10px;
    border-bottom: 1px solid rgb(12, 1, 1);
}
input {
    border: none;
    height: 35px;
    width: 760px;
    padding-left: 10px;
    margin-inline: 10px;
    border-bottom: 1px solid rgb(12, 1, 1);
}

p {
    padding: 5px;
}

.NappiSoitta1 {
    float: right;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.NappiSoitta1:hover {
    color: #fff;
    background: #065fb8;

}


@media screen and (max-width: 767px) {
    .UpForm {
        margin: 2%;
        margin-bottom: -10px;
        background-color: rgb(242, 247, 244);
        width: 96%;
        height: 100%;
        float: right;
        border-width: 1px;
        background-color: #dddddd;
        border-style: solid;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    input {
        border: none;
        height: 35px;
        width: 100%;
        padding-left: 10px;
        margin-inline: 10px;
        border-bottom: 1px solid rgb(12, 1, 1);
    }

    .Yhteys {
        margin-bottom: 2px;
        font-size: x-large;
        font-weight: bolder;
    }

    .NappiSoitta {
        border-radius: 5px;
        border-style: solid;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
    }

    .textarea {
        border: none;
        height: 80px;
        width: 100%;
        padding-left: 10px;
        margin-inline: 10px;
        border-bottom: 1px solid rgb(12, 1, 1);
    
    }
    
    .inputNamePhone {
        border: none;
        height: 35px;
        margin-right: 10px;
        width: 100%;
    
    
    }
}