.gallery{
        display: block;
        max-height: 280px;
        max-width: 280px;
        margin: auto;
        margin-top: 3%;
    
    }

.gallery:hover{

    transform: scale(1.1);
}

.galleryDiv{
    border-style: solid;
    border-width: 0.5px;
    margin: 10px;
    float: left;
    height: 300px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}