.carousel {
    grid-area: m;
}


.carousel {
            padding-left: 20%;
            padding-right: 20%;
            margin: 5px;
}

.tyoKuva
{
    padding-left: 20%;
    padding-right: 20%;
    height: 400px;
    width: auto;
    max-height: 500px;

}