


.carousel {
    font-size: large;
    color: black;
    
}

.tyoKuva
{
    max-width: auto;
    width: auto;
    height: 700px;
    
}
@media screen and (max-width: 767px) {

    .tyoKuva
    {
        width: 100%;
        max-height: 500px;
        
    }

    .tyoKuvaH{
        visibility: hidden
    }

}