table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.divv{

    background-color: #ffffff;
}

@media screen and (max-width: 767px) {

table {
        width: 96%;
        margin: 2%;
        border-collapse: collapse;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
.h3Size{
    font-size: 20px;
    text-align: center;
}

    th
    {
        border: 1px solid #050000;
        text-align: center;
        font-size: 13;
    }

    td{
  
        border: 1px solid #050000;
        font-size: 11px;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

}